
<div id="content">
  <div class="breadcrumbs1_wrapper">
    <div class="container">
      <div class="breadcrumbs1"><%=link_to 'Home', pages_path %><span></span>TAPS After School</div>
    </div>
  </div>

  <div class="container">

    <h2 class="c">Information</h2>

    <p>
      <strong class="text-uppercase">
        Providing Quality Student Care For Queen City Families
      </strong>
    </p>

    <p>
      TAPS will provide transportation to and from Queen City for our students. T.A.P.S will be providing a healthy morning snack. Before care begins at 6:30 AM and operates until the start of the school day.The program follows the regular school calendar. After-school begins immediately after the final bell. Starting with pick up at Queen City and drop off at our TAPS site. TAPS after-school will run until 6:30 PM. When schools are closed, the program is closed. When schools are open for any part of the day, the program is open (Unless otherwise directed).
    </p>



    <h2>Select Plan</h2>

    <div class="row">
      <!-- <div class="col-sm-4">
        <div class="thumb4">
          <div class="thumbnail clearfix">
            <figure class="img-polaroid">
              <img src="/assets/parents01.jpg" alt="" class="img-responsive">
            </figure>
            <div class="caption">
              <h3>Before School</h3>
              <p>
                <strong class="text-uppercase">
                  TAPS BEFORE SCHOOL PLAN
                </strong>
              </p>
              
              <h1> $15 WK <%#= link_to 'Buy Weekly', current_user.present? ? user_steps_path(interval: "weekly", plan_name: "before_school") : new_user_session_path(interval: "weekly", plan_name: "before_school"), class: "btn-default btn2" %></h1>
              
              <h1> $60 MO <%#= link_to 'Buy Monthly', current_user.present? ? user_steps_path(interval: "monthly", plan_name: "before_school") : new_user_session_path(interval: "monthly", plan_name: "before_school"), class: "btn-default btn2"%></h1>
        
              
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-sm-4">
        <div class="thumb4">
          <div class="thumbnail clearfix">
            <figure class="img-polaroid">
              <img src="/assets/parents02.jpg" alt="" class="img-responsive">
            </figure>
            <div class="caption">
              <h3>After School</h3>
              <!-- <p>
                <strong class="text-uppercase">
                 TAPS AFTER SCHOOL PLAN  $25 Registration Fee
                </strong>
              </p>
               -->
              
              <h1> $35 <%= link_to 'Buy Plan', current_user.present? ? after_school_registrations_path : new_user_session_path(interval: "weekly",plan_name: "queen_city"), class: "btn-default btn2" %></h1>
              
              <%#= link_to 'Buy Monthly', current_user.present? ? user_steps_path(interval: "monthly", plan_name: "queen_city") : new_user_session_path(interval: "monthly",plan_name: "queen_city"), class: "btn-default btn2" %>

              
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">  
      <figure class="google_map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13023.086444686476!2d-80.746715!3d35.311656!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88541c3cfc836d17%3A0xbdf42fd6f88a83ba!2s9100+Olmsted+Dr%2C+Charlotte%2C+NC+28262!5e0!3m2!1sen!2sus!4v1457247619016" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
      </figure>
    </div>
     <!--  <div class="col-sm-4">
        <div class="thumb4">
          <div class="thumbnail clearfix">
            <figure class="img-polaroid">
              <img src="/assets/parents03.jpg" alt="" class="img-responsive">
            </figure>
            <div class="caption">
              <h3>BEFORE SCHOOL & AFTERSCHOOL</h3>
              <p>
                <strong class="text-uppercase">
                  BEFORE SCHOOL & AFTERSCHOOL PLAN
                </strong>
              </p>
              
              <h1> $62 WK <%#= link_to 'Buy Weekly', current_user.present? ? user_steps_path(interval: "weekly", plan_name: "after_school") : new_user_session_path(interval: "weekly", plan_name: "after_school"), class: "btn-default btn2" %></h1>
              
              <h1> $248 MO <%#= link_to 'Buy Monthly', current_user.present? ? user_steps_path(interval: "monthly", plan_name: "after_school") : new_user_session_path(interval: "monthly", plan_name: "after_school"), class: "btn-default btn2"%></h1>

              
            </div>
          </div>
        </div>
      </div> -->
      
    </div>



   








  </div>
  <div class="wave2"></div>
</div>


