<div id="content">
<div class="tab-content">
   <div class="football-head">
	  <span><h4> 2016	T.A.P.S</h4></span>
	  <span><h4>  #10	FOOTBALL	CAMP</h4></span>
	  <span><h4>     REGISTRATION	FORM </h4></span>
  </div>
  <div class="football-text">
    <span>Directed	by	Antico	Dalton	and	Jermaine	Smith</span><br/>
<span>Non-contact	camp	for	boys	ages	5	– 14 </span><br/>
<span>Saturday	July	30th</span><br/>
<span>10:00	a.m.	to	2:00	p.m.</span>
<span>Morehead	High	School</span>
</div>
	<%= simple_form_for @user,:url=>{:controller=>"tap_programs",:action=>"register_football"},method: :post do |f| %>
    <div class="container change-container center_div">
    <div class="tab-pane" id="tab1">
      <%#=f.fields_for :football_camps do |football| %>
        <%= render 'football_camp_fields', f: f %>
      <%#end%>
		  <div class="row">
			  <div class="col-lg-12">
			    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg" data-keyboard="false" data-backdrop="static">
			      <span class="glyphicon glyphicon-collapse-down"></span> Waiver and Release Form for After School
			    </button>
			    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target=".bs-example1-modal-lg" data-keyboard="false" data-backdrop="static">
			      <span class="glyphicon glyphicon-collapse-down"></span> WAIVER AND AUTHORIZATION FOR TREATMENT
			    </button>
			    <%= f.input :tos_payment, as: :boolean, checked_value: true, unchecked_value: false, class: "required", required: true, label: "I read this waiver" %>
			  </div>
		  </div>
		  <br/>
      <div class="links">
       <%#= link_to_add_association 'add task', f, :football_camps, class: "btn btn-success" %>
       <%= f.submit "Continue", class: "btn btn-primary btn-info" %>
      </div>
    </div>
	<% end %>
    </div>

</div>
</div>
<div class="wave2"></div>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Waiver Text</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              Waiver and Release Form for After School
              Liability Release and Parental Consent Form
              In consideration of the acceptance of my application for the above program, I hereby waive, release, and discharge any and all claims for damages for personal injury, property damages or which may hereafter occur to me as a result of participation in said event. This release is intended to discharge in advance T.A.P.S. Inc. and Golden Norsemen Sports Club, its officials, officers, employees, volunteers and agents from liability, even though that liability may arise out of perceived negligence on the part of persons mentioned above. It is understood that some recreational activities involve an element of risk or danger of accidents, and knowing those risks, I hereby assume those risks. It is further understood and agreed that this waiver, release and assumption of risk is to be binding on my heirs and assignees.
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example1-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Waiver Text</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              WAIVER AND AUTHORIZATION FOR TREATMENT

              The health history is complete and accurate, and participant has permission to engage in all activities unless otherwise specified in writing. I understand that the T.A.P.S assumes no responsibility for injuries or illness which my child may sustain as a result of his/her participation in After School, athletics, sports programs, the use of any equipment, exercise or other activities. I expressly acknowledge that my child has been medically cleared to participate in vigorous physical activities. I also understand that there is a risk of injury while participating in physical activities. I agree to hold harmless the T.A.P.S, its staff and volunteers for accidents of injuries arising out of my child’s participation in activity.

              While the T.A.P.S will make every effort to provide reasonable accommodations for mentally and physically challenged children, After School will not accept children who are (1) of danger to themselves, (2) of danger to others, (3) a disruption to the normal activities making it unreasonably difficult for other children to enjoy the After School programs. Any of the above reasons will be grounds for dismissal from After School. A parent/guardian must discuss special conditions or circumstances involving their child with the director. This must be completed prior to registration so that the administration may make a determination if reasonable accommodations may be made for your child.

              I agree to have my child examined medically within a reasonable time period by the family physician stating he/she is free from communicable disease and has not been exposed to such. I hereby give my permission to the medical personnel selected by the T.A.P.S director to order x-rays, routine tests, treatment, to release any records necessary for insurance purposes, and to provide or arrange necessary related transportation for myself/or my child. In the event that I cannot be reached in an emergency, I herby give permission to the physician selected by the T.A.P.S director to secure and administer treatment including hospitalization for my child.

              I understand that no accident or medical insurance is provided with this activity. I give permission to the T.A.P.S, without limitation or obligation to use photographs, film footage, tape recordings which may include my child’s image and/or voice for purposes of promoting or interpreting T.A.P.S programs and release the T.A.P.S from any claim of liability to that use. I give my consent for my child to leave the T.A.P.S site, participate in authorized T.A.P.S trips and to ride in authorized vehicles for the purpose of transportation in connection with the T.A.P.S program.

              I have read and agree to all the policies set forth by the T.A.P.S and by the T.A.P.S After School Program.
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>