<div class="container" style="
    margin-top: 100px; margin-bottom: 50px;">
  <div class="row">
<div id="content">
  <div class="breadcrumbs1_wrapper">
    <div class="container">
      <div class="breadcrumbs1"><%=link_to 'Home',pages_path%><span></span>About Us</div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-8">

        <h2>who we are</h2>

        <div class="thumb2">
          <div class="thumbnail clearfix">
            <figure class="img-circle">
              <img src="/assets/about01.jpg" alt="" class="img-responsive">
            </figure>
            <div class="caption">
              <p>
                <strong class="text-uppercase">
                  We are preparing youth for education, self-suffiency, corporate america and tomorrow's challenges while developing athletic talents..
                </strong>
              </p>
              <p>
                At T.A.P.S, we believe learning should mean fun. Our programs are designed for children of various grades. We believe that our enrichment programs is an excellent way to improve children's academic performance and social skills.
              </p>
              <!-- <a href="#" class="btn-default btn1">donate</a> -->
            </div>
          </div>
        </div>



      </div>
      <div class="col-sm-4">

        <h2 class="c">Why Choose US</h2>

        <ul class="ul1">
          <li class="clearfix"><i class="fa fa-thumbs-o-up"></i><span>Enrichment.</span></li>
          <li class="clearfix"><i class="fa fa-trophy"></i><span>Certified Teachers.</span></li>
          <li class="clearfix"><i class="fa fa-smile-o"></i><span>Academic Club.</span></li>
          <li class="clearfix"><i class="fa fa-rocket"></i><span>Home Economics.</span></li>
          <li class="clearfix"><i class="fa fa-bell"></i><span> before and after-school .</span></li>
          <li class="clearfix"><i class="fa fa-cutlery"></i><span>cultural activities.</span></li>
          <li class="clearfix"><i class="fa fa-eye"></i><span>Athletic Club.</span></li>
          <li class="clearfix"><i class="fa fa-heart"></i><span>Arts Club.</span></li>
        </ul>





      </div>
    </div>

    <h2>our team</h2>

    <div class="row">
      <div class="col-sm-3">
        <div class="thumb3">
          <div class="thumbnail clearfix">
            <a href="#">
              <figure class="">
                <img src="/assets/about02.jpg" alt="" class="img-responsive">
              </figure>
              <div class="caption">
                <div class="txt1">Jermaine Smith</div>
                <div class="txt2">Founder</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb3">
          <div class="thumbnail clearfix">
            <a href="#">
              <figure class="">
                <img src="/assets/about03.jpg" alt="" class="img-responsive">
              </figure>
              <div class="caption">
                <div class="txt1">Cynthia Smith</div>
                <div class="txt2">Administrator</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb3">
          <div class="thumbnail clearfix">
            <a href="#">
              <figure class="">
                <img src="/assets/about04.jpg" alt="" class="img-responsive">
              </figure>
              <div class="caption">
                <div class="txt1">Staff</div>
                <div class="txt2">teacher</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb3">
          <div class="thumbnail clearfix">
            <a href="#">
              <figure class="">
                <img src="/assets/about05.jpg" alt="" class="img-responsive">
              </figure>
              <div class="caption">
                <div class="txt1">staff</div>
                <div class="txt2">teacher</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>





  </div>
  <div class="wave2"></div>
</div>
</div>
</div>