<div class="container" style="
    margin-top: 100px; margin-bottom: 50px;">
  <div class="row">
<div id="content">
  <div class="breadcrumbs1_wrapper">
    <div class="container">
      <div class="breadcrumbs1"><%=link_to 'Home',pages_path%><span></span></div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-sm-3">

        <h2>contact Us</h2>

        <div class="thumb4">
          <div class="thumbnail clearfix">
            <figure class="img-polaroid">
              <img src="/assets/contacts01.jpg" alt="" class="img-responsive">
            </figure>
            <div class="caption">
              <p>
                9100 Olmsted Dr,<br>
Charlotte, NC.<br>
Telephone: 704-749-0528<br>
E-mail: <a href="#">tapssportsacademy@gmail.com</a>
              </p>
            </div>
          </div>
        </div>




      </div>
      <div class="col-sm-9">

        <h2 class="c">Contact Form</h2>

        <div id="note"></div>
        <div id="fields">
          <form id="ajax-contact-form" class="form-horizontal" action="javascript:alert('success!');">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputName">Your Name</label>
                    <input type="text" class="form-control" id="inputName" name="name" value="Full Name" onBlur="if(this.value=='') this.value='Full Name'" onFocus="if(this.value =='Full Name' ) this.value=''">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="text" class="form-control" id="inputEmail" name="email" value="E-mail address" onBlur="if(this.value=='') this.value='E-mail address'" onFocus="if(this.value =='E-mail address' ) this.value=''">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputPhone">Phone</label>
                    <input type="text" class="form-control" id="inputPhone" name="phone" value="Phone" onBlur="if(this.value=='') this.value='Phone'" onFocus="if(this.value =='Phone' ) this.value=''">
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                    <label for="inputMessage">Your Message</label>
                    <textarea class="form-control" rows="5" id="inputMessage" name="content" onBlur="if(this.value=='') this.value='Message'"
                                onFocus="if(this.value =='Message' ) this.value=''">Message</textarea>
                </div>
              </div>
            </div>
            
            <button type="submit" class="btn-default btn-cf-submit">Submit</button>
          </form>
        </div>




      </div>
    </div>

    <h2 class="c">map</h2>

    <figure class="google_map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13023.086444686476!2d-80.746715!3d35.311656!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88541c3cfc836d17%3A0xbdf42fd6f88a83ba!2s9100+Olmsted+Dr%2C+Charlotte%2C+NC+28262!5e0!3m2!1sen!2sus!4v1457247619016" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </figure>




  </div>
  <div class="wave2"></div>
</div>
</div>
</div>