<script>
$(document).ready(function() {
  //

  // touchTouch
  $('.thumb-isotope .thumbnail a').touchTouch();



}); //
$(window).load(function() {
  //

  /*----------------------------------------------------*/
  // ISOTOPE BEGIN
  /*----------------------------------------------------*/
  var $container = $('#container');
  //Run to initialise column sizes
  updateSize();

  //Load fitRows when images all loaded
  $container.imagesLoaded( function(){

      $container.isotope({
          // options
          itemSelector : '.element',
          layoutMode : 'fitRows',
          transformsEnabled: true,
          columnWidth: function( containerWidth ) {
              containerWidth = $browserWidth;
              return Math.floor(containerWidth / $cols);
            }
      });
  });

  // update columnWidth on window resize
  $(window).smartresize(function(){
      updateSize();
      $container.isotope( 'reLayout' );
  });

  //Set item size
  function updateSize() {
      $browserWidth = $container.width();
      $cols = 4;

      if ($browserWidth >= 1170) {
          $cols = 4;
      }
      else if ($browserWidth >= 767 && $browserWidth < 1170) {
          $cols = 3;
      }
      else if ($browserWidth >= 480 && $browserWidth < 767) {
          $cols = 2;
      }
      else if ($browserWidth >= 0 && $browserWidth < 480) {
          $cols = 1;
      }
      //console.log("Browser width is:" + $browserWidth);
      //console.log("Cols is:" + $cols);

      // $gutterTotal = $cols * 20;
      $browserWidth = $browserWidth; // - $gutterTotal;
      $itemWidth = $browserWidth / $cols;
      $itemWidth = Math.floor($itemWidth);

      $(".element").each(function(index){
          $(this).css({"width":$itemWidth+"px"});
      });



    var $optionSets = $('#options .option-set'),
        $optionLinks = $optionSets.find('a');

    $optionLinks.click(function(){
      var $this = $(this);
      // don't proceed if already selected
      if ( $this.hasClass('selected') ) {
        return false;
      }
      var $optionSet = $this.parents('.option-set');
      $optionSet.find('.selected').removeClass('selected');
      $this.addClass('selected');

      // make option object dynamically, i.e. { filter: '.my-filter-class' }
      var options = {},
          key = $optionSet.attr('data-option-key'),
          value = $this.attr('data-option-value');
      // parse 'false' as false boolean
      value = value === 'false' ? false : value;
      options[ key ] = value;
      if ( key === 'layoutMode' && typeof changeLayoutMode === 'function' ) {
        // changes in layout modes need extra logic
        changeLayoutMode( $this, options )
      } else {
        // otherwise, apply new options
        $container.isotope( options );
      }

      return false;
    });

  };
  /*----------------------------------------------------*/
  // ISOTOPE END
  /*----------------------------------------------------*/



}); //
</script>

<div id="content">
  <div class="breadcrumbs1_wrapper">
    <div class="container">
      <div class="breadcrumbs1"><%=link_to 'Home', pages_path %><span></span>Gallery</div>
    </div>
  </div>

  <div class="container">

    <h2 class="c">Photo Gallery</h2>

    <div id="options" class="clearfix">
      <ul id="filters" class="pagination option-set clearfix" data-option-key="filter">
        <li><a href="#filter" data-option-value="*" class="selected">Show All</a></li>
        <li><a href="#filter" data-option-value=".isotope-filter1">Category 1</a></li>
        <li><a href="#filter" data-option-value=".isotope-filter2">Category 2</a></li>
        <li><a href="#filter" data-option-value=".isotope-filter3">Category 3</a></li>
      </ul>
    </div>

    <div class="isotope-box">
                  <div id="container" class="clearfix">
                    <ul class="thumbnails" id="isotope-items">
                      <li class="element isotope-filter1">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
              
                              <figure>
                                <img src="/assets/gallery01.jpg" alt=""><em></em>
                              </figure>
                              
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="element isotope-filter2">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
                            
                              <figure>
                                <img src="/assets/gallery02.jpg" alt=""><em></em>
                              </figure>
                              
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="element isotope-filter3">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
                            
                              <figure>
                                <img src="/assets/gallery03.jpg" alt=""><em></em>
                              </figure>
                              
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="element isotope-filter1">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
                            
                              <figure>
                                <img src="/assets/gallery04.jpg" alt=""><em></em>
                              </figure>
                             
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="element isotope-filter2">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
                            
                              <figure>
                                <img src="/assets/gallery05.jpg" alt=""><em></em>
                              </figure>
                              
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="element isotope-filter3">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
                            
                              <figure>
                                <img src="/assets/gallery06.jpg" alt=""><em></em>
                              </figure>
                              
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="element isotope-filter1">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
                            
                              <figure>
                                <img src="/assets/gallery07.jpg" alt=""><em></em>
                              </figure>
                              
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="element isotope-filter2">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
                           
                              <figure>
                                <img src="/assets/gallery08.jpg" alt=""><em></em>
                              </figure>
                              
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="element isotope-filter3">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
                            
                              <figure>
                                <img src="/assets/gallery09.jpg" alt=""><em></em>
                              </figure>
                              
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="element isotope-filter1">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
                            
                              <figure>
                                <img src="/assets/gallery10.jpg" alt=""><em></em>
                              </figure>
                              
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="element isotope-filter2">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
                            
                              <figure>
                                <img src="/assets/gallery11.jpg" alt=""><em></em>
                              </figure>
                              
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="element isotope-filter3">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
                            
                              <figure>
                                <img src="/assets/gallery12.jpg" alt=""><em></em>
                              </figure>
                              
                            </a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>









  </div>
  <div class="wave2"></div>
</div>
