

<div id="content">
  <div class="breadcrumbs1_wrapper">
    <div class="container">
      <div class="breadcrumbs1"><%=link_to 'Home', pages_path %><span></span>Gallery</div>
    </div>
  </div>

  <div class="container">

    <h2 class="c">Photo Gallery</h2>

    <div id="options" class="clearfix">
      <ul id="filters" class="pagination option-set clearfix" data-option-key="filter">
        <li><a href="#filter" data-option-value="*" class="selected">Show All</a></li>
        <li><a href="#filter" data-option-value=".isotope-filter1">Category 1</a></li>
        <li><a href="#filter" data-option-value=".isotope-filter2">Category 2</a></li>
        <li><a href="#filter" data-option-value=".isotope-filter3">Category 3</a></li>
      </ul>
    </div>

    <div class="isotope-box">
                  <div id="container" class="clearfix">
                    <ul class="thumbnails" id="isotope-items">
                      <li class="element isotope-filter1">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
              
                              <figure>
                                <img src="/assets/gallery01.jpg" alt=""><em></em>
                              </figure>
                              
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="element isotope-filter2">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
                            
                              <figure>
                                <img src="/assets/gallery02.jpg" alt=""><em></em>
                              </figure>
                              
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="element isotope-filter3">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
                            
                              <figure>
                                <img src="/assets/gallery03.jpg" alt=""><em></em>
                              </figure>
                              
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="element isotope-filter1">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
                            
                              <figure>
                                <img src="/assets/gallery04.jpg" alt=""><em></em>
                              </figure>
                             
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="element isotope-filter2">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
                            
                              <figure>
                                <img src="/assets/gallery05.jpg" alt=""><em></em>
                              </figure>
                              
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="element isotope-filter3">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
                            
                              <figure>
                                <img src="/assets/gallery06.jpg" alt=""><em></em>
                              </figure>
                              
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="element isotope-filter1">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
                            
                              <figure>
                                <img src="/assets/gallery07.jpg" alt=""><em></em>
                              </figure>
                              
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="element isotope-filter2">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
                           
                              <figure>
                                <img src="/assets/gallery08.jpg" alt=""><em></em>
                              </figure>
                              
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="element isotope-filter3">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
                            
                              <figure>
                                <img src="/assets/gallery09.jpg" alt=""><em></em>
                              </figure>
                              
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="element isotope-filter1">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
                            
                              <figure>
                                <img src="/assets/gallery10.jpg" alt=""><em></em>
                              </figure>
                              
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="element isotope-filter2">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
                            
                              <figure>
                                <img src="/assets/gallery11.jpg" alt=""><em></em>
                              </figure>
                              
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="element isotope-filter3">
                        <div class="thumb-isotope">
                          <div class="thumbnail clearfix">
                            
                              <figure>
                                <img src="/assets/gallery12.jpg" alt=""><em></em>
                              </figure>
                              
                            </a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>









  </div>
  <div class="wave2"></div>
</div>
