


<div id="content">
  <div class="breadcrumbs1_wrapper">
    <div class="container">
      <div class="breadcrumbs1"><a href="index.html">Home</a><span></span>Services</div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-8">

        <h2>About our services</h2>

        <div class="thumb2">
          <div class="thumbnail clearfix">
            <figure class="img-polaroid">
              <img src="/assets/services02.jpg" alt="" class="img-responsive">
            </figure>
            <div class="caption">
              <p>
                <strong class="text-uppercase">
                  TAPS provides  onsite before and after-school Mon - Fri. 6:30am-6:00 pm
                </strong>
              </p>
              <p>
                Our After school program is not only filled with academic enrichment, and homework help, we also provide hands on group athletes, nutritional snacks and monthly STEM and cultural activities.
              </p>
              <%=link_to 'read more', tap_programs_path(query: "queen_city"), class: "btn-default btn1"%>
            </div>
          </div>
        </div>

        <div class="thumb2">
          <div class="thumbnail clearfix">
            <figure class="img-polaroid">
              <img src="/assets/services02.jpg" alt="" class="img-responsive">
            </figure>
            <div class="caption">
              <p>
                <strong class="text-uppercase">
                  T.A.P.S (Teaching Athletes Plans for Success) Inc. is a 501(c)(3) non-profit organization 
                </strong>
              </p>
              <p>
                T.A.P.S. exists to organize, primarily through the vehicle of athletics and youth development, a positive, enriching environment contributing to an improved quality of life for our area youth and families.
              </p>
              <%=link_to 'read more', tap_programs_path(query: "tap_after_sc"), class: "btn-default btn1"%>
            </div>
          </div>
        </div>

        <div class="thumb2">
          <div class="thumbnail clearfix">
            <figure class="img-polaroid">
              <img src="/assets/services03.jpg" alt="" class="img-responsive">
            </figure>
            <div class="caption">
              <p>
                <strong class="text-uppercase">
                  School may be out, but education and adventure are always in at T.A.P.S Summer Enrichment Camp! With activities for kindergarten – rising grade 8
                </strong>
              </p>
              <p>
                there are tons of programs to get kids excited about Academics, Arts and
               Athletics. The club, studio and lab environment encourages experimentation, exploration and discovery geared for 
               specific age groups.
              </p>
              <%=link_to 'read more', tap_programs_path(query: "summer_camp"), class: "btn-default btn1"%>
            </div>
          </div>
        </div>

        <div class="thumb2">
          <div class="thumbnail clearfix">
            <figure class="img-polaroid">
              <img src="/assets/services04.jpg" alt="" class="img-responsive">
            </figure>
            <div class="caption">
              <p>
                <strong class="text-uppercase">
                  Golden Norsemen Athletics
                </strong>
              </p>
              <p>
                Golden Norsemen Athletics offers Football, Basketball, Baseball and Cheer to youth ages 5 - 14.  We participate in AAU  that offers over 30 different sports to youth.
              </p>
              <%=link_to 'read more', tap_programs_path(query: "noresman_football"), class: "btn-default btn1"%>
            </div>
          </div>
        </div>



      </div>
      <div class="col-sm-4">

        <h2 class="c">Academics</h2>

        <div class="thumb4">
          <div class="thumbnail clearfix">
            <figure class="img-polaroid">
              <img src="/assets/services05.jpg" alt="" class="img-responsive">
            </figure>
            <div class="caption">
              <p>
                <strong class="text-uppercase">
                </strong>
              </p>
              <p>
                Our Academic program serves to empower the mind as well as address issues the youth face. We have a staff of certified teachers to ensure we remain relevant with what the youth need to succeed in the class. Within our Academic wing we have STEM which consist of Science, Technology, Math and Engineering labs , and Literacy class. We also embrace non traditional such as Home Economics, Public Speaking, and Entrepreneurship and Philanthropy. We also provide tutoring and academic mentoring.
              </p>
            </div>
          </div>
        </div>

        <h2 class="c">Services list</h2>

        <ul class="ul1">
          <li class="clearfix"><i class="fa fa-thumbs-o-up"></i><span>Enrichment.</span></li>
          <li class="clearfix"><i class="fa fa-trophy"></i><span>Certified Teachers.</span></li>
          <li class="clearfix"><i class="fa fa-smile-o"></i><span>Academic Club.</span></li>
          <li class="clearfix"><i class="fa fa-rocket"></i><span>Home Economics.</span></li>
          <li class="clearfix"><i class="fa fa-bell"></i><span> before and after-school .</span></li>
          <li class="clearfix"><i class="fa fa-cutlery"></i><span>cultural activities.</span></li>
          <li class="clearfix"><i class="fa fa-eye"></i><span>Athletic Club.</span></li>
          <li class="clearfix"><i class="fa fa-heart"></i><span>Arts Club.</span></li>
        </ul>





      </div>
    </div>




  </div>
  <div class="wave2"></div>
</div>

