
		<section class="module bg-dark bg-dark-60" data-background="assets/images/section-4.jpg">
			<div class="container">

				<div class="row">

					<div class="col-sm-6 col-sm-offset-3">

						<h1 class="module-title font-alt">Queen City Stem After School</h1>
						<div class="module-subtitle font-serif mb-0">
							The T.A.P.S. afterschool programs aspires to be the leading after school program provider that educates, enlightens and inspires students each day through after school activities centered around sports, health, fitness and leadership. T.A.P.S. offers sports programs to students in Grades 1 through 5 focusing on fun, safety and convenience. The program that you are about to be introduced is a result of years of learning, practice and hard work. Everything that we have created within the T.A.P.S. organization has been experienced since childhood when we played and succeeded in sports, learned how to teach it while in college and executed with many years of teaching and school administrative experience.
						</div>

					</div>

				</div><!-- .row -->

			</div>
		</section>
		<!-- Header section end -->

	<!-- Wrapper start -->
	<div class="main">

		<section class="module">
			<div class="container">

				<div class="row">

					<!-- Product images start -->
					<div class="col-sm-6 mb-sm-40">
						<%= image_tag 'product-6.jpg', :alt =>"", :class => "gallery" %>

						
					</div>
					<!-- Product images end -->

					<!-- Product detail start -->
					<div class="col-sm-6">

						<div class="row">
							<div class="col-sm-12">
								<h1 class="product-title font-alt">Queen City Stem After School Plan</h1>
							</div>
						</div>

						

												<div class="row mb-20">
							<div class="col-sm-12">
								<div class="price font-alt">
									<span class="amount">$25 registration fee</span><br>
									<span class="amount">$50 wk</span><br>
									<span class="amount">$200 mo</span>
								</div>
							</div>
						</div>

						<div class="row mb-20">
							<div class="col-sm-12">
								<div class="description">
									<p>Exhibiting our core principles to have fun while learning, practice good sportsmanship, be safe and foster an inclusive environment we will keep the children engaged through academics and athletics. T.A.P.S. offers a convenient service that allows schools to offer quality classes to their students, at their facility. We offer many unique enrichment classes, all from one place, making it hassle free for you to pick, book, and run enrichment at your location. We offer an after-school program where the learning continues while the fun never stops. With a variety of sports and enrichment activates to choose from, children have the chance to realize their abilities in the class, on and off the playing fields and in life. </p>
								</div>
							</div>
						</div>

						<div class="row mb-20">
							
							<div class="col-sm-8">
								<%= link_to 'Buy Weekly', current_user.present? ? user_steps_path(interval: "weekly", plan_name: "queen_city") : new_user_session_path(interval: "weekly",plan_name: "queen_city"),class: "btn btn-lg btn-block btn-round btn-b" %>
							</div>


              </div>
              
              <div class="row mb-20">
							
							<div class="col-sm-8">
								<%= link_to 'Buy Monthly', current_user.present? ? user_steps_path(interval: "monthly", plan_name: "queen_city") : new_user_session_path(interval: "monthly",plan_name: "queen_city"),class: "btn btn-lg btn-block btn-round btn-b" %>
							</div>
						</div>

						

					</div>
					<!-- Product detail end -->

				</div><!-- .row -->

				<div class="row mt-70">
					
				</div><!-- .row -->

			</div>
		</section>

		<!-- Divider -->
		<hr class="divider-w">
		<!-- Divider -->
