
		<section class="module bg-dark bg-dark-60" data-background="assets/images/section-4.jpg">
			<div class="container">

				<div class="row">

					<div class="col-sm-6 col-sm-offset-3">

						<h1 class="module-title font-alt">Queen City Stem Before School</h1>
						<div class="module-subtitle font-serif mb-0">
							Starting Monday, September 14, 2015 T.A.P.S will begin offering Before School care to Queen City families. The before school will operate in conjunction with all Queen City processes and procedures regarding car lines/drop off and operational schedules. All students will need to be signed each and every morning and we asked that for the safety of everyone that you do not park your car in the car line and come in to drop off. This will not only confuse the process but it will hold up drop off in the morning. Please use the parking spaces closest to the back of the building when dropping your students off
						</div>

					</div>

				</div><!-- .row -->

			</div>
		</section>
		<!-- Header section end -->

	<!-- Wrapper start -->
	<div class="main">

		<section class="module">
			<div class="container">

				<div class="row">

					<!-- Product images start -->
					<div class="col-sm-6 mb-sm-40">
				<%= image_tag 'product-6.jpg', :alt =>"", :class => "gallery" %>

						
					</div>
					<!-- Product images end -->

					<!-- Product detail start -->
					<div class="col-sm-6">

						<div class="row">
							<div class="col-sm-12">
								<h1 class="product-title font-alt">Queen City Stem Before School Plan</h1>
							</div>
						</div>

						

						<div class="row mb-20">
							<div class="col-sm-12">
								<div class="price font-alt">
									<span class="amount">$12 - 15 registration fee</span><br>
									<span class="amount">$15 wk</span><br>
									<span class="amount">$60 mo</span>
								</div>
							</div>
						</div>

						<div class="row mb-20">
							<div class="col-sm-12">
								<div class="description">
									<p>Students who are participating in breakfast (at Queen City) will still be able to eat and then return to before school to prepare for morning bell. T.A.P.S will not be providing breakfast or morning snack. If you feel you need that please contact Heaven Sent Catering for those options. Before care begins at 6:30 AM and operates until the start of the school day. Each program is housed at Queen City STEM, which means parents don’t have to provide transportation between the school and childcare. The program follows the regular school calendar. When schools are closed, the program is closed. When schools are open for any part of the day, the program is open (Unless otherwise directed)</p>
								</div>
							</div>
						</div>

						<div class="row mb-20">
							
							<div class="col-sm-8">
							  <%= link_to 'Buy Weekly', current_user.present? ? user_steps_path(interval: "weekly", plan_name: "before_school") : new_user_session_path(interval: "weekly",plan_name: "before_school"),class: "btn btn-lg btn-block btn-round btn-b" %><br/><br/>
              
							</div>


              </div>
              
              <div class="row mb-20">
							
							<div class="col-sm-8">
							  <%= link_to 'Buy Monthly', current_user.present? ? user_steps_path(interval: "monthly", plan_name: "before_school") : new_user_session_path(interval: "monthly",plan_name: "before_school"),class: "btn btn-lg btn-block btn-round btn-b" %>
							</div>
						</div>

		
					</div>
					<!-- Product detail end -->

				</div><!-- .row -->

				<div class="row mt-70">
					
				</div><!-- .row -->

			</div>
		</section>

		<!-- Divider -->
		<hr class="divider-w">
