<!-- Wrapper start -->
	<div class="main">

		<!-- Header section start -->
<section class="module bg-dark-60 pt-0 pb-0" data-background="/assets/section-4.jpg" style="background-image: url(/assets/section-4.jpg);">
			<div class="container">

				<div class="row">

					<div class="col-sm-6 col-sm-offset-3">

						<h1 class="module-title font-alt">Payments</h1>
						<div class="module-subtitle font-serif mb-0">
							
    Creating a profile allows you to setup recurring payments and to store your payment information for quick retrieval on your next visit to make a payment.Stripe is the easy and secure way to pay your child care provider from the convenience of your home or office. We wanted  make it easy to view and pay all or part of your childcare invoices electronically. You can even choose to have your payments deducted automatically from your account each week. 


						</div>

					</div>

				</div><!-- .row -->

			</div>
		</section>
		<!-- Header section end -->

		<!-- About start -->
		<section class="module">
			<div class="container">

				<div class="row">

					<div class="col-sm-6">

						<h5 class="font-alt">Policy Information</h5>
						<br>
						<p>All full-time tuition payments are to be paid in advance of care and are to be made payable no later than pick-up on Friday (or the child’s last scheduled day of attendance that week), even if the child is not in attendance. If payment falls on a holiday, payment is due the on the weekday before. (No Sat. or Sun. payments) Tuition payments will cover the following week of childcare. $ 25.00 Drop-in Care payments are to be made at drop-off time or 24 hours prior. No exceptions! .</p>
						
					</div>

					<div class="col-sm-6">
         <h5 class="font-alt">Policy Information</h5>
						<br>
						<p>Parents are responsible for payment in full for the agreed-upon hours, whether or not their child is in attendance. This includes part-timers as well as full-timers. No refunds/credits will be given. Late payments will incur a $5.00 per calendar day fee. This includes Saturday and Sunday and no payments will be accepted on these days. Childcare will not be provided with outstanding fees. Fees are charged for the entire week and are based solely on enrollment, not on attendance. There are no deductions in fees regardless of whether a child is present or not.</p>
						

					</div>

				</div><!-- .row -->

			</div>
		</section>
		<!-- About end -->

		<!-- Divider -->
		<hr class="divider-w">
		<!-- Divider -->

		<!-- Team start -->
		
		<!-- Team end -->

		<!-- Video start -->
		
		<!-- Video end -->

		<!-- Features start -->
		<section class="module">
			<div class="container">

				<div class="row">

					<div class="col-sm-6 col-sm-offset-3">

						<h2 class="module-title font-alt">Stripe Advantages</h2>

					</div>

				</div><!-- .row -->

				<div class="row multi-columns-row">

					<!-- Features start -->
					<div class="col-sm-6 col-md-3 col-lg-3">

						<div class="features-item">
							<div class="features-icon">
								<span class="icon-lightbulb"></span>
							</div>
							<h3 class="features-title font-alt">Convenient</h3>
									No more checks to write when you are in a hurry

						</div>

					</div>
					<!-- Features end -->

					<!-- Features start -->
					<div class="col-sm-6 col-md-3 col-lg-3">

						<div class="features-item">
							<div class="features-icon">
								<span class="icon-bike"></span>
							</div>
							<h3 class="features-title font-alt">Optimised</h3>
								Available 24/7 from anywhere 
						</div>

					</div>
					<!-- Features end -->

					<!-- Features start -->
					<div class="col-sm-6 col-md-3 col-lg-3">

						<div class="features-item">
							<div class="features-icon">
								<span class="icon-tools"></span>
							</div>
							<h3 class="features-title font-alt">Did We say Easy</h3>
							Easy access to account history.
						</div>

					</div>
					<!-- Features end -->

					<!-- Features start -->
					<div class="col-sm-6 col-md-3 col-lg-3">

						<div class="features-item">
							<div class="features-icon">
								<span class="icon-gears"></span>
							</div>
							<h3 class="features-title font-alt">Highly customizable</h3>
							Setup automatic recurring payments

					</div>
					<!-- Features end -->

				</div><!-- .row -->

			</div><!-- .container -->
		</section>
		<!-- Features end -->

		<!-- Widgets start -->
		
		<!-- Widgets end -->
	
		<!-- Divider -->
		<hr class="divider-d">
		<!-- Divider -->
	
		<!-- Footer start -->
		
		<!-- Footer end -->
	
	</div>
	<!-- Wrapper start -->
	
	<!-- Scroll-up -->
	<div class="scroll-up" style="display: block;">
		<a href="#totop"><i class="fa fa-angle-double-up"></i></a>
	</div>
	
	


</body></html>