    <div class="main">

		<!-- Header section start -->
		<section class="module-small bg-dark bg-dark-60" data-background="assets/images/section-4.jpg">
			<div class="container">

				<div class="row">

					<div class="col-sm-6 col-sm-offset-3">

						<h1 class="module-title font-alt">Gallery</h1>
						<div class="module-subtitle font-serif mb-0">
							A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
						</div>

					</div>

				</div><!-- .row -->

			</div>
		</section>
		<!-- Header section end -->

		<!-- Gallery start -->
		<section class="module">
			<div class="container">

				<div class="row multi-columns-row">

					<!-- Gallery item start -->
					<div class="col-sm-6 col-md-3 col-lg-3">

						<div class="gallery-item">
							<div class="gallery-image">
								<a href="assets/images/section-1.jpg" class="gallery" title="Title 1">
									<img src="assets/images/post-1.jpg" alt="">
									<div class="gallery-caption">
										<div class="gallery-icon">
											<span class="icon-magnifying-glass"></span>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<!-- Gallery item end -->

					<!-- Gallery item start -->
					<div class="col-sm-6 col-md-3 col-lg-3">

						<div class="gallery-item">
							<div class="gallery-image">
								<a href="assets/images/section-2.jpg" class="gallery" title="Title 2">
									<img src="assets/images/post-2.jpg" alt="">
									<div class="gallery-caption">
										<div class="gallery-icon">
											<span class="icon-magnifying-glass"></span>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<!-- Gallery item end -->

					<!-- Gallery item start -->
					<div class="col-sm-6 col-md-3 col-lg-3">

						<div class="gallery-item">
							<div class="gallery-image">
								<a href="assets/images/section-3.jpg" class="gallery" title="Title 3">
									<img src="assets/images/post-3.jpg" alt="">
									<div class="gallery-caption">
										<div class="gallery-icon">
											<span class="icon-magnifying-glass"></span>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<!-- Gallery item end -->

					<!-- Gallery item start -->
					<div class="col-sm-6 col-md-3 col-lg-3">

						<div class="gallery-item">
							<div class="gallery-image">
								<a href="assets/images/section-4.jpg" class="gallery" title="Title 4">
									<img src="assets/images/post-4.jpg" alt="">
									<div class="gallery-caption">
										<div class="gallery-icon">
											<span class="icon-magnifying-glass"></span>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<!-- Gallery item end -->

					<!-- Gallery item start -->
					<div class="col-sm-6 col-md-3 col-lg-3">

						<div class="gallery-item">
							<div class="gallery-image">
								<a href="assets/images/section-5.jpg" class="gallery" title="Title 5">
									<img src="assets/images/post-5.jpg" alt="">
									<div class="gallery-caption">
										<div class="gallery-icon">
											<span class="icon-magnifying-glass"></span>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<!-- Gallery item end -->

					<!-- Gallery item start -->
					<div class="col-sm-6 col-md-3 col-lg-3">

						<div class="gallery-item">
							<div class="gallery-image">
								<a href="assets/images/section-6.jpg" class="gallery" title="Title 6">
									<img src="assets/images/post-6.jpg" alt="">
									<div class="gallery-caption">
										<div class="gallery-icon">
											<span class="icon-magnifying-glass"></span>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<!-- Gallery item end -->

					<!-- Gallery item start -->
					<div class="col-sm-6 col-md-3 col-lg-3">

						<div class="gallery-item">
							<div class="gallery-image">
								<a href="assets/images/section-1.jpg" class="gallery" title="Title 1">
									<img src="assets/images/post-1.jpg" alt="">
									<div class="gallery-caption">
										<div class="gallery-icon">
											<span class="icon-magnifying-glass"></span>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<!-- Gallery item end -->
          
         <!-- Gallery item start -->
					<div class="col-sm-6 col-md-3 col-lg-3">

						<div class="gallery-item">
							<div class="gallery-image">
								<a href="assets/images/section-2.jpg" class="gallery" title="Title 2">
									<img src="assets/images/post-2.jpg" alt="">
									<div class="gallery-caption">
										<div class="gallery-icon">
											<span class="icon-magnifying-glass"></span>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<!-- Gallery item end -->
          
          <!-- Gallery item start -->
					<div class="col-sm-6 col-md-3 col-lg-3">

						<div class="gallery-item">
							<div class="gallery-image">
								<a href="assets/images/section-2.jpg" class="gallery" title="Title 2">
									<img src="assets/images/post-2.jpg" alt="">
									<div class="gallery-caption">
										<div class="gallery-icon">
											<span class="icon-magnifying-glass"></span>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<!-- Gallery item end -->

         <!-- Gallery item start -->
					<div class="col-sm-6 col-md-3 col-lg-3">

						<div class="gallery-item">
							<div class="gallery-image">
								<a href="assets/images/section-2.jpg" class="gallery" title="Title 2">
									<img src="assets/images/post-2.jpg" alt="">
									<div class="gallery-caption">
										<div class="gallery-icon">
											<span class="icon-magnifying-glass"></span>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<!-- Gallery item end -->

					<!-- Gallery item start -->
					<div class="col-sm-6 col-md-3 col-lg-3">

						<div class="gallery-item">
							<div class="gallery-image">
								<a href="assets/images/section-2.jpg" class="gallery" title="Title 2">
									<img src="assets/images/post-2.jpg" alt="">
									<div class="gallery-caption">
										<div class="gallery-icon">
											<span class="icon-magnifying-glass"></span>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<!-- Gallery item end -->

          <!-- Gallery item start -->
					<div class="col-sm-6 col-md-3 col-lg-3">

						<div class="gallery-item">
							<div class="gallery-image">
								<a href="assets/images/section-2.jpg" class="gallery" title="Title 2">
									<img src="assets/images/post-2.jpg" alt="">
									<div class="gallery-caption">
										<div class="gallery-icon">
											<span class="icon-magnifying-glass"></span>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<!-- Gallery item end -->
				</div><!-- .row -->

			</div>
		</section>
		<!-- Gallery start -->
