
<div class="bot1_wrapper">

  <div class="container">

    <div class="logo2_wrapper">
      <a href="index.html" class="logo2">
        <img src="/assets/logo2.png" alt="" class="img-responsive">
      </a>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="bot1_title">Jermaine Smith:</div>
        <p>
          9100 Olmstead Dr,<br>
Charlotte, NC.<br>
Telephone: 704-749-0528<br>
E-mail: <a href="#">tapssportsacademy@gmail.com</a>
        </p>
      </div>
      <div class="col-sm-4">
        <div class="bot1_title">Cynthia Smith:</div>
        <p>
          9100 Olmstead Dr,<br>
Charlotte, NC.<br>
Telephone:  704-749-0528<br>
E-mail: <a href="#">tapssportsacademy@gmail.com</a>
        </p>
      </div>
      <div class="col-sm-4">
        <div class="bot1_title">follow us:</div>
        <div class="social_wrapper">
          <ul class="social clearfix">
            
            <li><a href="#"><img src="/assets/social_ic3.png" alt=""></a></li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>

<div class="bot2_wrapper">
  <div class="container">
    Copyright © 2016. All rights reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
</div>